<h1>Blog Post</h1>
<img id="myimage" src="https://w0.peakpx.com/wallpaper/591/880/HD-wallpaper-ryomen-sukuna-jujutsu-kaisen-thumbnail.jpg" alt="JJK"></img>
<ul id= "list"
  <% @blogs.each do |blog| %>
    <li><%= link_to blog.title, blog_path(blog) %></li>
    <% end %>
</ul>
<br />
<%=link_to 'Add a new blog', new_blog_path %>